@model IEnumerable<Ogrenci>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Öğrenci İşlemleri</h1>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Öğrenci Listesi</h2>
        <a class="btn btn-primary" asp-action="AddStudent" asp-controller="Student">Öğrenci Ekle</a>
    </div>

    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Numara</th>
                <th>Ad</th>
                <th>Soyad</th>
                <th>İşlemler</th>
                <th>Aldığı Dersler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ogr in Model)
            {
                <tr>
                    <td>@ogr.Numara</td>
                    <td>@ogr.Ad</td>
                    <td>@ogr.Soyad</td>
                    <td>
                        <a class="btn btn-sm btn-success" href="/Student/EditStudent/@ogr.Ogrenciid">
                            <i class="bi bi-pencil-square"></i> Düzenle
                        </a>
                        <a onclick="return confirm('Emin misiniz?')" class="btn btn-sm btn-danger" href="/Student/DeleteStudent/@ogr.Ogrenciid">
                            <i class="bi bi-trash"></i> Silme
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-info" href="/Student/OgrenciDersleri/@ogr.Ogrenciid">
                            <i class="bi bi-book"></i> Aldığı Dersler
                        </a>
                        <a class="btn btn-sm btn-primary" href="/Student/AddDersForOgrenci?studentId=@ogr.Ogrenciid">
                            <i class="bi bi-plus-square"></i> Ders Ekle
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
